@CHARSET "UTF-8";

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(<%= request.getContextPath() %>/resources/pics/prof_man1.jpg) no-repeat;
	}